/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.name {
    margin-bottom: 5px;
}

.title {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: var(--text-color);
}

.aboutMe {
    line-height: 35px;
}

h2 {
    margin-bottom: 20px; /* Added padding underneath section headers */
}

#skills {
    padding-top: 100px;
}

#projects {
    padding-top: 100px;
}

#contact {
    padding-top: 100px;
}

#experience {
    padding-top: 100px;
}

#education {
    padding-top: 100px;
}

/* Variables for dark and light themes */
:root {
    --background-color: #1A202C;
    --text-color: #E2E8F0;
    --footer-background-color: #2D3748;
    --button-background-color: #3182CE;
    --button-hover-color: #2B6CB0;
    --tile-background-color: #2D3748; /* Dark slate gray */
    --neutral-color: #888888; /* Neutral gray color */
    --slick-arrow-color: #ffffff; /* Default arrow color */
}

body.light-theme {
    --background-color: #F7FAFC;
    --text-color: #2D3748;
    --footer-background-color: #EDF2F7;
    --button-background-color: #3182CE;
    --button-hover-color: #2B6CB0;
    --tile-background-color: #EDF2F7; /* Very light gray */
    --neutral-color: #888888; /* Neutral gray color */
    --slick-arrow-color: #000000; /* Arrow color for light theme */
}

header {
    width: 100%;
    background-color: var(--footer-background-color);
    text-align: center;
    padding: 10px;
    position: relative;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Default: Single row for desktop view */
header ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* No wrapping in desktop view */
    padding: 0;
    list-style: none;
}

header li {
    margin: 0 15px;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    header ul {
        flex-wrap: wrap; /* Allow wrapping in mobile view */
        justify-content: center;
    }

    header li {
        width: 50%; /* Make each list item take half the width */
        text-align: center;
        margin: 10px 0; /* Add some margin for spacing */
    }
}

header a {
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

header a:hover {
    transform: translateY(-5px);
}

header #menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: x-large;
    cursor: pointer;
    color: var(--text-color);
}

/* Carousel styling */
.carousel {
    width: 60%;
    margin: 20px auto;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.slick-prev, .slick-next {
    color: var(--slick-arrow-color) !important;
}

.slick-prev:before, .slick-next:before {
    color: var(--slick-arrow-color) !important;
}

.slick-dots li button:before {
    color: var(--neutral-color) !important;
}

.content {
    flex: 1;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

footer {
    width: 100%;
    background-color: var(--footer-background-color);
    text-align: center;
    padding: 10px 0;
}

/* Styles for Skills Section */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-category {
    background-color: var(--tile-background-color);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-category h3 {
    margin-bottom: 10px;
}

.skill-category ul {
    list-style: none;
    padding: 0;
}

.skill-category li {
    text-align: left;
    margin-bottom: 5px;
}

/* Styles for Work Experience and Education Sections */
.experience-container, .education-container {
    margin: 20px 0;
}

.experience-item, .education-item {
    background-color: var(--tile-background-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-item h3, .education-item h3 {
    margin-bottom: 10px;
    color: var(--text-color);
}

.experience-item h4, .education-item h4 {
    margin-bottom: 5px;
    color: var(--text-color);
}

.experience-item p, .education-item p {
    margin-bottom: 10px;
    color: var(--text-color);
}

.experience-item ul {
    margin-left: 20px;
}

.experience-item li {
    color: var(--text-color);
    margin-bottom: 5px;
}

/* Styles for Projects Section */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-card {
    background-color: var(--tile-background-color);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    margin-bottom: 15px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.project-card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--text-color);
    text-align: center;
}

.project-card p {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 15px;
}

.project-card a {
    display: block;
    margin-top: auto;
    text-align: center;
    background-color: var(--button-background-color);
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.project-card a:hover {
    background-color: var(--button-hover-color);
}

/* Styles for Contact Form */
.contact-tile {
    background-color: var(--tile-background-color);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-tile form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-tile label {
    text-align: left;
}

.contact-tile input,
.contact-tile textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.contact-tile textarea {
    height: 150px; /* Fixed size for message box */
    resize: none; /* Prevent resizing */
    overflow-y: auto; /* Scroll when content exceeds height */
}

.contact-tile button {
    background-color: var(--button-background-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.contact-tile button:hover {
    background-color: var(--button-hover-color);
}

/* Slide menu styles */
#slide-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--footer-background-color);
    z-index: 1000;
    transition: left 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#slide-menu.open {
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

#close-menu {
    background: none;
    border: none;
    font-size: large;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E2E8F0;
    margin-left: 95%;
    padding-bottom: 10px;
}

/* Overlay styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 500;
}

#theme-toggle {
    background-color: var(--button-background-color);
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #E2E8F0;
    font-size: large;
}

#theme-toggle:hover {
    background-color: var(--button-hover-color);
}

#submit {
    font-size: large;
}

.slide-link {
    text-decoration: none;
    color: #E2E8F0;
    display: block;
    width: 100%;
}

#social-header {
    text-align: center;
}